/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Sezione Main*/
.container{
    width: 70%;
    margin: 3rem auto;
    background-color: blue;
    height: 1000px;
}

.row{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    height: 800px;
}

.col{
    max-width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
    background-color: blueviolet;
    width: 30%;
    height: 300px;;
}

/*Sezione Immagini*/
.box-immagine{
    max-width: 100%;
    position: relative;
}

.immagine{
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.immagine:hover{
    z-index: -1;
    display: none;
}

.immagine-hover{
    max-width: 100%;

}

/*Sezione Banner*/
.box-sconto{
    position: absolute;
    left: 0;
    bottom: 8%;
}

.sconto{
    padding: 0.5rem 0.8rem;
    color: white;
    font-weight: bold;
}

.rosso{
    background-color: red;
}

.verde{
    background-color: green;
}

.heart{
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    position: absolute;
    right: 0;
    top: 5%;
}

.heart:hover{
    color: red;
}

/*Sezione Etichetta*/
.etichetta{
    max-width: 100%;
}

.prezzo{
    color: red;
    font-weight: 700;
}

.vecchio-prezzo{
    color: black;
    text-decoration: line-through;
}